#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2.5em;
  padding: 0.2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Slideshow specific styles */
.slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slideshow-image {
  width: 600px;
  height: 360px;
  object-fit: cover;
  border: 2px solid green;
}

.slideshow-buttons {
  position: absolute;
  bottom: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slideshow-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slideshow-buttons button:first-child {
  background-color: blue;
  color: white;
}

.slideshow-buttons button:last-child {
  background-color: red;
  color: white;
}

h2 {
  color: #0f0713;
  font-size: 30px;
  position: absolute;
  top: 40vh;
  left: 50%;
  z-index: 100;
  width: 30%;
  transform: translateX(-50%);
}
